extends layout

block content
  .container
    .row
      .col-md-2
      .col-md-8
        - var n = 0
          while n < allTrunks.length
            -n++

        h1 Browse Results (#{n})
        for trunk in allTrunks
          .jumbotron.results
            table
              tbody
                tr
                  td(width="25%") Year:
                  td= trunk.current_year
                tr
                  td Model:
                  td= trunk.current_model
                tr
                  td Style:
                  td= trunk.current_style
                tr
                  td id:
                  td
                    a(href='/search/' + trunk._id)= trunk._id
      .col-md-2