extends layout

block content
  .container
    .row
      .col-md-2
      .col-md-8
        - var n = 0
          while n < matches.length
            -n++
        h1 Search Results (#{n})
        table
          thead
            tr
              th Year
              th Model
              th Style
              th ID
          tbody
            for match in matches
              tr
                td= match.current_year
                td= match.current_model
                td= match.current_style
                td
                  a(href='/search/' + match._id)= match._id
      .col-md-2