extends ../layout

block content
  .container
    .row
      .col-md-2
      .col-md-8
        - var n = 0
          while n < allTrunks.length
            -n++

        h1 Search Results (#{n})
        table
          thead
            tr
              th Year
              th Model
              th Style
              th ID
          tbody
            for trunk in allTrunks
              tr
                td= trunk.current_year
                td= trunk.current_model
                td= trunk.current_style
                td
                  a(href='/search/' + trunk._id)= trunk._id
      .col-md-2