extends ../layout

block content
  .container
    .row
      .col-md-2
      .col-md-8
        h1 Contact information:
        h2= user.displayName
        h2=user.phone
        h2=user.email
        h2= "has: " + theTrunk.current_year + " " + theTrunk.current_model + " " + theTrunk.current_style
        h2= "wants: " + theTrunk.desired_year + " " + theTrunk.desired_model + " " + theTrunk.desired_style
      .col-md-2